<div style="margin-top:100px;">
	<div class="jumbotron" style="width:50%; margin: 0 auto;">
        <h1>Welcome <%= @user.first_name + ' ' + @user.last_name %></h1>
        <p><a class="btn btn-lg btn-success" href="trainers">Take a look at the trainer offers</a></p>
     </div>
</div>