<div class="content-section-a">

    <br />

    <div class="container">

      <br />

      
    <h4 class="section-heading">Contact</h4>



    <%= render 'form', :inquiry => @inquiry %>



    </div>
    <!-- /.container -->

</div>